@import url('https://fonts.googleapis.com/css?family=Pacifico');
.xxop{
  background-image: url("../images/bg.jpg");
}
.xop-section {
	max-width:960px;
	margin:0 auto;
	padding:6% 2%;
}

.xop-grid {
	margin: 15px 0 0 0;
	
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}

.xop-grid:after {
	clear: both;
}

.xop-grid:after,
.xop-box:before {
	content: '';
    display: table;
}

.xop-grid li {
	width: 328px;
	height: 328px;
	display: inline-block;
	margin: 15px;
}

.xop-box {
	width: 100%;
	height: 100%;
	position: relative;
	cursor: pointer;
    border-radius: 10px;
    -webkit-transition: 0.3s ease-in-out, 
    -webkit-transform 0.3s ease-in-out;
	-moz-transition:  0.3s ease-in-out, 
    -moz-transform 0.3s ease-in-out;
    transition: all 0.3s ease-in-out, 
    transform 0.3s ease-in-out, ;
}

.xop-box:hover {
	transform: scale(1.05); 
}

.xop-img-1 { 
 background: 
    linear-gradient(
      rgba(0, 0, 0, 0.50), 
      rgba(0, 0, 0, 0.10)
    ),
    /* bottom, image */
    url("../images/baking\ kit11.jpg");
}

.xop-img-2 { 
 background: 
    linear-gradient(
      rgba(0, 0, 0, 0.50), 
      rgba(0, 0, 0, 0.10)
    ),
    /* bottom, image */
    url("../images/birthday22.jpg");
}

.xop-img-3 { 
 background: 
    linear-gradient(
      rgba(0, 0, 0, 0.50), 
      rgba(0, 0, 0, 0.10)
    ),
    /* bottom, image */
    url("../images/bouquet33.jpg");
}

.xop-img-4 { 
 background: 
    linear-gradient(
      rgba(0, 0, 0, 0.50), 
      rgba(0, 0, 0, 0.10)
    ),
    /* bottom, image */
    url("../images/macarons44.jpg");
}
.xop-img-5 { 
  background: 
     linear-gradient(
       rgba(0, 0, 0, 0.50), 
       rgba(0, 0, 0, 0.10)
     ),
     /* bottom, image */
     url("../images/donut55.jpg");
 }
 .xop-img-6 { 
  background: 
     linear-gradient(
       rgba(0, 0, 0, 0.50), 
       rgba(0, 0, 0, 0.10)
     ),
     /* bottom, image */
     url("../images/cupcake66.jpg");
 }
 .xop-img-7 { 
  background: 
     linear-gradient(
       rgba(0, 0, 0, 0.50), 
       rgba(0, 0, 0, 0.10)
     ),
     /* bottom, image */
     url("../images/brownie77.jpg");
 }
 .xop-img-8 { 
  background: 
     linear-gradient(
       rgba(0, 0, 0, 0.50), 
       rgba(0, 0, 0, 0.10)
     ),
     /* bottom, image */
     url("../images/giftcard.jpg");
 }

.xop-info {
	position: absolute;
	width: inherit;
  height: inherit;
  margin-left: 14%;
}

.xop-info h3 {
    font-family: 'Pacifico', cursive;
  color: #fff;
	font-size: 35px;
	margin: 0 30px;
	padding: 100px 0 0 0;
	line-height:1.5;
}

.xop-info button {
    font-family: 'Source Sans Pro', sans-serif;
	color: #fff;
	margin: 0 30px;
	font-size: 18px;
	line-height:2;
}
.btn-1{
  background-color: #dbd80d;
  color: #ffffff;
}
.btn-2{
  background-color: #8b0e0e;
  color:#ffffff;
}
